# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xsukvxdcfeqcmoojwvvp.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_8GQzoze-87aywJ4X-xXULQ_rEgsOGan
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzdWt2eGRjZmVxY21vb2p3dnZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzM3NjksImV4cCI6MjA4OTI0OTc2OX0.Gdm1pX4XsxdVbA8uN_OQiwNz4AiPjoxbEcB2zVOZUlI
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Razorpay
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id

# Daily.co
DAILY_API_KEY=your_daily_api_key
NEXT_PUBLIC_DAILY_DOMAIN=your_daily_domain.daily.co

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
